<h1>試作アプリ</h1>
<ul>
    <li><%= link_to 'HOME', {:controller => "top"}, class: "btn" %></li>
    <li><%= link_to 'BLOG', {:controller => "blogs", :action => 'index'}, class: "btn" %></li>
    <li><%= link_to 'CONTACT US', {:controller => "form"}, class: "btn" %></li>
</ul>
