<p>―――――――――――――――――――<br />
■ achieve 会員登録のご案内<br />
―――――――――――――――――――<br />
<br />
<%= @email %> 様<br />
<br />
この度は achieve にご登録頂きありがとうございます。<br />
<br />
登録のお手続きはまだ完了していません。<br />
以下の「登録確認」をクリックし、登録を完了してください。<br />
<br />
→<%= link_to '「登録確認」', confirmation_url(@resource, confirmation_token: @token) %></p>