<p>―――――――――――――――――――<br />
■ パスワード変更方法のご案内<br />
―――――――――――――――――――<br />
<br />
<%= @email %> 様<br />
<br />
パスワードの変更依頼がありました。<br />
<br />
以下の「パスワード変更」をクリックすると、パスワード変更画面が表示されます。<br />
<br />
→<%= link_to '「パスワード変更」', edit_password_url(@resource, reset_password_token: @token) %><br />
<br />
もし本メールにお心当たりがない場合は、メールを破棄してください。<br />
パスワード変更画面にて新しいパスワードを入力しない限り、パスワードは変更されません。</p>